//COLORES

//Esquema 1

$blanco: #ffffff;
$negro:#000000;
$amarillo:#EEAC02;
$azul:#0870D0;
$verde:#28A745;

$gris_claro:#E5E5E5;
$gris_oscuro:#B5B4B4;
$gris2: #4f4f4f;

$celeste_claro:#F2F9FF;
$amarillo_claro:#FFF9E5;

//TIPOGRAFIA

$roboto: 'Roboto', sans-serif;

//Peso
$fina: 100;
$ligera: 300;
$regular: 400;
$pesada: 700;
$negra: 900;

//Tamaño
$enorme:36px;
$muygrande:24px;
$grande: 20px;
$normal:16px;
$boton: 15px;
$pequena:12px;