
.pago_exitoso{
    font-size: $muygrande;
    color: $azul;
}

p{
    font-size: $normal;
}

button{
    font-size: $boton; 
}
.dropdown-menu{
    width: 90%;
}

.button.btn.btn-outline-primary.mx-3{
    font-size: $normal;
}